.barChart.vertical td {
  height: 250px;
  vertical-align: bottom;
  border-top: 1px solid rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(0,0,0,0.4);
  border-left: 0;
  border-right: 0;
  position: relative;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.1) 1px,
    transparent 1px,
    transparent 5%
  );
}

.barChart.vertical th {
  width: 18%;
  border: 0;
  height: 1em;
  text-align: center;
  position: relative;
  background: none;
}

.barChart.vertical td.label, .barChart.vertical th.label {
  width: 10%;
  background: none;
  border: 0;
}

.barChart.vertical > td.label p {
  text-align: right;
  font-size: 8pt;
  margin: 0;
  color: var(--dark-text);
}

.barChart.vertical td.label p.text {
  display: block;
  position: absolute;
  top: 50%;
  left: -1.25em;
  transform: rotate(90deg);
  white-space: nowrap;
}
